
main {
  display: grid;
  grid-template-columns: 18% 81%;
  grid-gap: 1%;
}
.higlite {
  position: relative;
}

.higlite::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 0, 0);
  transition: width 0.5s ease-in-out;
}

/* Animation */
#info_imp_left:hover ~ p .higlite::before {
  width: 100%;
}